@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Caveat:wght@500;600&family=Chivo+Mono:wght@100&family=Karla:wght@200&family=Kumbh+Sans:wght@400;700&family=La+Belle+Aurore&family=Merriweather&family=Montserrat:ital,wght@0,700;0,900;1,700&family=Outfit:wght@300;400;600&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Caveat:wght@500;600&family=Chivo+Mono:wght@100&family=Fraunces:wght@700;900&family=Karla:wght@200&family=Kumbh+Sans:wght@400;700&family=La+Belle+Aurore&family=Merriweather&family=Montserrat:ital,wght@0,700;0,900;1,700&family=Outfit:wght@300;400;600&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header section */

body{
    overflow-x: hidden;
}
.header{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
 
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2.5rem;
}
.navlogo img{
    width: 200px;
}
.nav-items ul li{
    display: inline-block;
    list-style: none;
    font-family: 'Barlow', sans-serif;
    color: hsla(0, 0%, 100%,0.9)
    ;
    font-weight: 600;
    margin-right: 45px;
    font-size: 1.1rem;
    cursor: pointer;
    
}
.nav-items ul li a{
    border: none;
    padding:  15px 25px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 25px;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 15px;
}
.text-box{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: 'Fraunces', serif;
    
}
.text-box img{
    margin-top: 55px
}

/* grid-container */
.grid-container{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.grid-container img{
    width: 100%;
    display: block;
}
.grid-container .box-1 ,.box-4{
    padding: 8rem 8rem;
}
.grid-boxes h3{
    font-size: 40px;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
}
.grid-boxes p{
    font-size: 18px;
    margin-top: 2.5rem;
    color: hsl(232, 10%, 55%);
    line-height: 1.5;
    font-family: 'Barlow', sans-serif; 
    padding-bottom: 1.6rem;
   

}
.grid-boxes h5{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    display: inline;
    position: relative;
    
}
.grid-container .grid-boxes:nth-of-type(1) > h5::after,.grid-container .grid-boxes:nth-of-type(4) > h5::after{
    position: absolute;
    content: '';
    display: block;
    border: 4px solid;
    width: 120px;
    left: -2px;
    top: 13px;
    opacity: 40%;
    z-index: -1;
    border-radius: 10px;
    transition: all 200ms;
}
.grid-container .grid-boxes:nth-of-type(1) > h5::after{
    border-color: hsl(51, 100%, 49%);
}
.grid-container .grid-boxes:nth-of-type(4) > h5::after{
    border-color: hsl(7, 99%, 70%);
}




/* spilt image  */

.grid-container .grid-boxes:nth-of-type(5) , .grid-container .grid-boxes:nth-of-type(6)  {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self:end;
    text-align: center;
    
    
}
.grid-container .grid-boxes:nth-of-type(5){
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .grid-boxes:nth-of-type(6){
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container .grid-boxes:nth-of-type(5) article, .grid-container .grid-boxes:nth-of-type(6) article{
    max-width: 60%;
}
.grid-container .grid-boxes:nth-of-type(5) h6 , .grid-container .grid-boxes:nth-of-type(6) h6{
    font-size: 25px;
    font-family: 'Fraunces', serif;
    color: hsl(198, 62%, 26%);
    font-weight: 900;
}
.grid-container .grid-boxes:nth-of-type(5) p , .grid-container .grid-boxes:nth-of-type(6) p{
    font-size: 1.2rem;
    color: hsla(198, 62%, 26%,0.7);
}


/* testimonialllss */
.third-container{
    width: 100%;
    padding: 2rem;
    margin-top: 3.5rem;
}
.third-container-wrpper{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    align-items: center;
    margin: auto;
}
.third-container h2{
    text-align: center;
    padding-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.third-boxes{
    text-align: center;
    padding: 2.5rem 0.9rem;
}
.third-boxes img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
.third-container h2{
    font-family: 'Fraunces', serif;
    color: hsla(213, 9%, 39%,0.70);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.third-container p{
    padding-top: 3.5rem;
    line-height: 1.5;
    font-family: 'Barlow', sans-serif; 
    font-size: 1.2rem;
    color: hsl(213, 9%, 39%);
}
.third-container h3{
    padding-top: 3.5rem;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    font-size: 1.2rem;

}
.third-container h5{
    padding-top: 0.5rem;
    font-family: 'barlow', serif;
    color: hsla(213, 9%, 39%,0.70);
    font-size: 12px;

}

/* image-section */
.image-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.image-section img{
   width: 340px;
   height: 400px;
}
/* footer */

.footer{
    width: 100vw;
    background-color: hsla(168, 34%, 41%,0.6);
    text-align: center;
    padding: 3rem 0;
}
.footer .footer-logo{
    width:200px;
}
.footer .items ul {
     display: flex;
     justify-content: center;
     flex-direction: row;
     padding-top: 2.5rem;
}
.footer .items ul li{
    list-style: none;
    margin:0 2.5rem 0 2.5rem;
    font-family: 'Barlow', sans-serif; 
    font-size: 0.9rem;
    color: hsl(168, 34%, 41%);
}
.social-icons{
    padding-top: 5rem;
}
.social-icons img{
    margin: 0 1.2rem 0 1.2rem;
}